@import "../../../../assets/css/utils/variables.scss";
.custom-modal {
  background-color: transparent !important;
  z-index: 10000 !important;
  border-radius: 5px !important;
  .modal-dialog {
      position: fixed !important;
      margin: 0px !important;
      width: 50vw !important;
      min-width: 790px !important;
      right: 0;
      bottom: 20px !important;
      //height: calc(100vh - 80px) !important;
      box-shadow: -2px 10px 16px rgba(0, 0, 0, 0.16) !important;
  }
}


.modal-content{
   height: 100%;
}





